.under {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
} 
.over {
    position: absolute;
    left: 250px;
    top: 350px;
    z-index: -1;
    border: solid;
    border-radius: 1500px 1500px 1500px 1500px;
}
